.collage {
    width: 220px;
    height: 220px;
    border: 2px solid black;
    margin: 30px;
    position: relative;

    &__image {
        width: 200px;
        height: 200px;
        border: 1px solid red;
        position: absolute;
        transition: 0.3s;
        
        &:hover {
            z-index: 1;
            transform: scale(1.2) translateX(30px);
        }

        &_first {
            left: 0;
            top: 0;
        }

        &_second {
            left: 10px;
            top: 10px;
        }

        &_third {
            left: 20px;
            top: 20px;
        }
    }
}

.modal {
    margin: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 0 black;
    position: relative;

    &::after {
        content: '-';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: blue;
        color: white;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        right: 15px;
        top: -10px;
        box-shadow: 0 0 5px 0 gray;
        cursor: pointer; 
        display: flex;
        align-items: center;
        justify-content: center;       
    }

    &::before {
        content: '\2744';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: red;
        color: white;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        right: -10px;
        top: -10px;
        box-shadow: 0 0 5px 0 gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;         
    }
}

.clip {
    width: 200px;
    height: 100px;
    background-image: url('../image/lyna.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.container {
    width: 90%;
    border: 2px solid red;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; // горизонталь
    align-items: center;            // вертикаль
    flex-wrap: nowrap;
    height: 300px;

    // 768px в колонку на всю ширину
    // 1024px в ряд по 2 c отступами
    // 1024 в ряд 4 с отступами

    &__item {
        width: 100px;
        height: 100px;
        background-color: gray;
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
    }
}